<div class="signup-container">
  <div class="signup-contents">

    <div id="clearance" class="sign-in">
      <h2 class="signup-brand"> TechTestBank </h2>
      <p class="tagline">The money repository</p>

      <br>
      <%= render partial: 'sessions/form' %>

    </div>
  </div>
</div>
