<h1>Account Statement</h1>

<p>date || transaction type || balance </p>
<ul class="account-statement">
  <% @transactions.each do |transaction| %>
    <li> <%=transaction.created_at %> </li>
  <% end %>
</ul>
