<h1><%= @transaction.id %></h1>

<h2>Type:</h2>
<% if transaction.amount < 0.0 %>
  <p>Withdrawal</p>
<% else %>
  <p>Deposit</p>
<% end %>

<h2>Amount:<%= @transaction.amount %></h2>

<div>
  <ul class="recipe-actions">
    <li><%= link_to "Back", user_path(current_user) %></li>
  </ul>
</div>
